# Git Ignore for Websites
# Ignore everything
/*
# Except the following directories
!/.gitignore
!/index.html
!/assets/*

# Unused files
!/assets/favicon.ico
!/assets/robots.txt
!/assets/sitemap.xml
!/assets/humans.txt
